/*
 * @Author: Han.SeongMin
 * @Date: 2021-05-27 13:07:51
 * @Last Modified by: Han.SeongMin
 * @Last Modified time: 2021-05-27 17:41:12
 */
 
 .sr-only {
    display: none;
  }
 
 .tweet {
   display: flex;
   border-bottom: 1px solid #e6ecf0;
   margin-bottom: 2px;
   padding: 10px 5px;
 }
 
  .tweet:hover {
    background: rgbba(0, 0, 0, 0.03);
  }
 
  .tweet a {
    color: #1b94e0;
    text-decoration: none;
  }
 
  .tweet a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
 
  .tweet__author-image {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 12px;
  }
 
  .tweet__header {
    display: flex;
  }
 
  .tweet__author-name {
    font-size: 15px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
  }
 
  .tweet__author-slug {
    color: #5b7083;
    font-size: 15px;
  }
 
  .tweet__publish-time {
   font-size: 15px;
    margin-left: 5px;
    color: #657786;
  }
 
  .tweet__image {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
  }